$green: #133644;
$lightGreen: #39a2a0;
$white: white;
$black: black;

// Set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 30) {
    @return $green;
  } @else {
    @return $white;
  }
}

// Set background and text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
