// Backgrounds
.bg {
  &-green {
    @include set-background($green);
  }
  &-white {
    @include set-background($white);
  }
}

@font-face {
  font-family: 'Museo Sans Rounded 300';
  font-style: normal;
  font-weight: normal;
  src: local('Museo Sans Rounded 300'),
    url('/assets/MuseoSansRounded300.woff') format('woff');
}
@font-face {
  font-family: 'Spearbox';
  src: url('/assets/spearbox_bigfontsite.com.ttf') format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  // font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Crimson Text', serif;
  width: 100vw;
  min-height: 100vh;
}

h1,
h2,
h3,
b {
  font-weight: 600;
}

p,
a {
  font-weight: 400;
}

h1 {
  font-size: 60px;
}
p {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
    color: inherit;
    font-size: 17px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container-fluid {
  width: 100vw;
  min-height: 100vh;
  padding: 0% !important;
}
