@import 'config';
@import 'utilities';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Noto Sans JP', sans-serif;
}

h1,
h2,
h3,
b {
  font-weight: 700;
}

p,
a {
  font-weight: 300;
}

p {
  font-size: 25px;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: none;
  }
}

img {
  width: 100%;
}

.container-fluid {
  width: 100vw;
  min-height: 100vh;
  padding: 0%;
}

/* -------HEADER--------- */
header {
  width: 100vw;
  // height: 5%;
  display: flex;
  /* align-items: flex-end;
  justify-content: space-around; */
  padding: 0.5%;
  background-color: $white;
}

.brand-info {
  display: flex;
  align-items: center;
  width: 60%;
  #logo {
    width: 28%;
    // height: 11vh;
    margin-left: 19%;
    // background-image: url('/assets/img/Q_Green.png');
    // background-size: contain;
    // background-repeat: no-repeat;
  }

  #brand {
    width: 66%;
    margin-left: 37%;
    // height: 11vh;
    // background-image: url(/assets/img/ShapeQ_Green.png);
    // background-size: contain;
    // background-repeat: no-repeat;
  }
}

nav {
  width: 40%;
  align-self: flex-end;
  margin-left: 25%;
  li {
    display: inline;
    list-style: none;
    margin-right: 5%;
  }
}

/* ---------HOME------------- */

#home {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 1%;
  .home-text {
    margin-top: 5%;
    p {
      font-size: 30px;
    }
  }

  .btnPrimary {
    border-radius: 50px;
    padding: 5px;
    border: none;
    // color: $green;
    a {
      font-weight: 700;
    }
  }
}

/* ----------PAGE 2------------- */

#pageTwo {
  padding-top: 10%;
  height: 100%;
}

.pageTwoHead {
  display: flex;
  justify-content: center;
  img {
    width: 20%;
  }
  > * {
    padding: 0.5%;
  }
  h1 {
    font-size: 60px;
  }
}

.pageTwoText {
  .col-sm {
    padding: 5%;
    text-align: center;
  }
  i {
    padding-bottom: 2%;
  }
}
// ----------MARKETPLACE-------------
#marketplace {
  padding-top: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;

  .list {
    align-self: center;
  }
  ul {
    align-items: flex-start;
    list-style-type: circle;
    list-style-position: inside;
    text-align: initial;
  }
  li {
    font-size: 25px;
  }
}
