@import 'config';
@import 'utilities';

/* -------HEADER--------- */
header {
  width: 100vw;
  display: flex;
  padding: 0.5%;
  max-height: 10vh;
  justify-content: space-between;
  // border-bottom: 1px black solid;
}

.brand {
  width: 60%;
  align-self: center;

  #brand {
    width: 30%;
    margin-left: 5%;
  }
}

nav {
  // width: 40%;
  justify-content: flex-end !important;

  .navbar-nav {
    align-items: flex-end;
    z-index: 1;
  }
  .nav-link {
    padding-left: 0 !important;
  }
  b {
    color: $green !important;
  }

  .btnPrimary {
    border-radius: 20px;
    padding: 0px 13px;
    border: none;
    background-color: $lightGreen;
    a {
      color: $white !important;
      letter-spacing: 1px;

      padding-right: 0px !important;
      padding-left: 0px !important;
    }
  }
}

/* ---------HOME------------- */

#home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 6%;
  align-items: center;

  .home-right {
    width: 50%;
    padding-right: 2%;
    video {
      width: 100%;
    }
  }
  .home-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logoDiv {
    padding-top: 8%;
    width: 15%;
  }

  .infoHome {
    flex-direction: column;
    align-items: end;
    justify-content: center;
    display: flex;
    padding: 3%;
    .home-text {
      padding: 4%;
    }
  }

  .btnPrimary {
    border-radius: 50px;
    padding: 13px;
    border: none;
    transition: transform 0.2s;
    background-color: $lightGreen;
    color: $white;
    letter-spacing: 1px;
    margin-left: 4%;
    font-size: 18px;
    &:hover {
      font-size: 19px;
    }
  }
}
/* ----------PAGE 2------------- */

#pageTwo {
  padding-top: 8%;
  height: 100%;
  padding-bottom: 8%;
}

.pageTwoHead {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .logo {
    width: 5%;

    img {
      width: 100%;
      height: auto;
    }
  }
  > * {
    padding: 0.5%;
  }
}

.pageTwoText {
  // .row {
  //   flex-wrap: nowrap !important;
  // }
  .col-sm {
    padding-top: 1%;
    text-align: center;
  }
  i {
    padding-bottom: 2%;
  }
}
// ----------MARKETPLACE-------------
#marketplace {
  padding: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;

  .divMarkt {
    display: flex;
    align-self: center;
  }
  .list {
    display: flex;
    display: flex;
    align-items: baseline;
    justify-content: center;

    > * {
      padding: 0.3%;
    }

    p {
      padding-right: 2%;
    }
  }
}

#marketplace::after {
  background-image: url('/assets/img/photos/ice.jpg');
  // padding-top: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  z-index: 0;
  content: '';
}

// ---------TEAM-------------
#team {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 8%;

  h1 {
    text-align: center;
  }
  .figuresProfile {
    display: flex;
    justify-content: flex-end;
    padding-top: 4%;
    .profile {
      // display: grid;

      // align-items: center;
      padding: 1rem;
      width: 30%;

      img {
        border-radius: 5rem;
        width: 30%;
        margin-left: 0%;
        align-self: flex-end;
      }
      a {
        display: flex;
        align-items: baseline;
        > * {
          padding: 0.5%;
        }
      }
      p {
        font-size: 18px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
}

// ---------CONTACT US----------

#contact {
  display: flex;
  width: 100%;
  height: 100vh;
  padding-top: 5%;
  flex-direction: column;
  align-items: center;

  .form {
    width: 30%;
    margin-top: 2%;

    form {
      display: flex;
      flex-direction: column;

      input,
      textarea {
        margin-bottom: 3%;
        padding: 1%;
        border-radius: 5px;
        border: 1px solid $green;
      }

      .btnPrimary {
        border-radius: 30px;
        letter-spacing: 1px;
        padding: 2% 5%;
        align-self: center;
        background-color: $lightGreen;
        color: $white;
        border: none;
        font-size: 18px;
        &:hover {
          font-size: 19px;
        }
      }
    }
  }
}

// --------FOOTER------------

#footer {
  padding-top: 1%;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: baseline;

  p {
    font-size: 15px;
    padding-right: 2%;
  }
}

//----------- MEDIA QUERIES---------
@media (max-width: 1187px) {
  .nav-item {
    padding-left: 2px !important;
    // padding-right: 2px !important;
  }
}
@media (max-width: 1045px) {
  .nav-item {
    padding-left: 1px !important;
    // padding-right: 1px !important;
  }
}
@media (max-width: 1035px) {
  .nav-item {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

// 992px
@media (max-width: 62em) {
  .brand {
    width: 50%;
    #brand {
      width: 40%;
    }
  }

  #pageTwo {
    .pageTwoHead {
      .logo {
        width: 6% !important;
        padding-bottom: 1%;
      }
    }
  }

  #contact {
    .form {
      width: 50%;
    }
  }
}

// 668px
@media (max-width: 43em) {
  #home {
    flex-direction: column-reverse;
    .home-right,
    .home-left {
      width: 80%;
    }
  }
  .brand {
    #brand {
      width: 50%;
    }
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 29px;
  }

  h3 {
    font-size: 23px;
  }

  p {
    font-size: 18px !important;
  }

  #pageTwo {
    .pageTwoHead {
      .logo {
        width: 7% !important;
        padding-bottom: 2%;
      }
    }
  }

  #team {
    h2 {
      font-size: 16px !important;
    }
    p {
      font-size: 16px !important;
    }
  }
}
